header{
    width:100%;
    background-color:#db7b48;
    margin-bottom:10px;
}
nav{
    display:flex;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    display:inline-block;
    padding:15px;
}
ul li a{
    text-decoration:none;
    color:black;
}