header{
    width:100%;
    background-color:rgba(132, 142, 196, 0.4);
    margin-bottom:10px;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    display:inline-block;
    padding:5px;
}
ul li a{
    text-decoration:none;
}