header{
    width:100%;
    margin-bottom:10px;
    border-bottom:1px solid rgba(0,0,0,0.4);
}
nav{
    display:flex;
    justify-content: space-between;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    display:inline-block;
    padding:15px;
}
ul li a{
    text-decoration:none;
    color:black;
}
h1{
    margin:0;
    padding: 10px;
}
#log-ul{
    padding-left:5px;
    border-left:1px solid rgba(0,0,0,0.4);
}

@media only screen and (max-width: 800px) {
    .desk{
        display:none;
    }
    #log-ul{
        display:flex;
        border:none;
    }
}