body{
    color: black;
}

.tree{
    display:block;
    padding:5px;
}
.tree p{

    display:block;
    margin:8px;
}
.tree .djeca{
    margin-left:25px;
    border-left: 1px solid black;
}
.tree .djeca p{
    padding-left: 7px;
}