body{
    color: black;
}

.tree{
    display:block;
    padding:5px;
}
.tree p{
    display:inline-block;
    margin:8px;
}
.tree .djeca{
    margin-left:25px;
    border-left: 1px solid black;
}
.tree .djeca p{
    padding-left: 7px;
}
.App{
    padding: 0 20px;
}

.trash{
    cursor: pointer;
    display:inline;
    opacity: 0;

    transition: opacity 1s linear;
    }
.naslov:hover + .trash{
    opacity: 1;
}
.trash:hover
{
    opacity:1;
    transition:none;
}
.tema_smece{
    display:inline-flex;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .App{
        width:70%;
        margin: 0 auto;
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}