.App{
    display:block;
}
body{
    margin:0;
}

footer{
    display:none;
}
header{
    display:block;
}

@media only screen and (max-width: 800px) {
    footer{
        display:block;
    }
    header{
        display:block;
        width:100%;
        
        /*hamburger napravi*/
    }
    header .stats{
        display:none;
    }
}